{% extends 'core/base.html' %}

{% block title %} About {% endblock %}

{% block content %}
<div style="padding: 20px;">
    <h1 style="font-size: 2.5rem; margin-bottom: 20px;">Welcome to OneYes Pharmacy</h1>
    <p style="font-size: 1.2rem; line-height: 1.6;">At OneYes pharmacy, we believe that access to quality healthcare is a right, not a privilege. We've harnessed the power of technology to bring safe, effective, and timely pharmaceutical services right to your doorstep. As a premier online pharmacy, our vision is to transform the way you think about medicine, making it more accessible, affordable, and convenient than ever before.</p>

    <h2 style="font-size: 1.8rem; margin-top: 40px;">Our Journey:</h2>
    <p style="font-size: 1.2rem; line-height: 1.6;">Founded in 2023, by Kavin Rajendran, a passionate Programmer with a vision to revolutionize the pharmaceutical industry, OneYes Pharmacy began as a small endeavor to simplify medicine procurement. Today, we stand as one of the leading online pharmacies, having served thousands of satisfied customers across the Country.</p>

    <div style="margin-top: 40px;">
        <h2 style="font-size: 1.8rem;">Follow Us on Social Media</h2>
        <p style="font-size: 1.2rem;">Website: <a href="http://www.oneyesinfotechsolutions.com/">OneYes Infotech Solutions</a></p>
        <p style="font-size: 1.2rem;">Email: info@oneyesinfotechsolutions.com</p>
        <p style="font-size: 1.2rem;">Linked In: <a href="https://www.linkedin.com/in/oneyestechnologies">OneYes Technologies</a></p>
        <p style="font-size: 1.2rem;">Instagram: <a href="#">@oneyespharmacy</a></p>
    </div>
</div>
{% endblock %}
